 
   

    <footer class="p-padding_primary text-background_secondary font-secondary bg-background_primary md:w-contact_width">
        <address>

            <label class="font-bold" for="email">Email</label><br>
            <a class="p-2 font-medium" name="email" href="mailto:himeziejohn731@gmail.com">chimeziejohn731&#64;gmail.com</a>
            <br>
            <label class="font-bold" for="phone">Phone</label><br>
            <a class="p-2 font-medium" name="phone" href="tel:+32465913033"> +324 659 13033</a>
            <br>
            <label class="font-Specialty font-bold" for="social" >Find me on</label>
            <br>
            <br>
            <a class="mr-3" title="github repository" href="https://github.com/nattyjojo?tab=repositories" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github fa-beat fa-2xl"></i></a>
            <a class="mr-3"  title="linkedin" href="https://linkedin.com/in/john-chimezie-72b36a280" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin fa-beat-fade fa-2xl"></i></a>
            <a class="mr-3" title="discord" href="http://" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-discord fa-shake fa-2xl"></i></a>
            <a  href="https://wa.me/+3246593033" title="whatsapp" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-2xl fa-whatsapp" style="color: #06c112;"></i></a>
            
        </address>
            <br>
            <hr>
            <br>
            <p class="font-medium text-base text-[#FDFDFD] text-center" >All rights reserved &copy; John Chimezie {{currentYear}}</p>

            

    </footer>
  
