
<header class="flex justify-between h-[10vh]">
<h1 class="font-primary" aria-label="John Chimezie Logo" 
aria-hidden="true" role="img" 
class=" 
    text-4xl
    font-extrabold
    p-padding_primary 
    md:w-contact_width
  text-logo_color_small
  md:text-logo_color_large
  md:bg-background_primary
  " 

   >
    <a href="/">
        <pre>&lt;JC/&gt;</pre>
    </a>
    
</h1>
<nav class="bg-background_secondary z-10">
    <details>
        <summary class="text-2xl md:text-5xl text-background_primary font-extrabold p-padding_primary "></summary>
    
            <nav>
                <ul class="bg-background_primary mr-4 p-5 text-xl font-normal font-secondary text-background_secondary rounded-md">
                    <li><a title="go to Github" href="">Portfolio</a></li>
                    <li><a href="">Github</a></li>
                    <li><a href="">Github</a></li>
                    <li><a href="">Linkedin</a></li>
                    <li><a href="">About</a></li>
                </ul>
            </nav>
      
    </details>
</nav>
</header>

