
<header class="flex justify-between h-[10vh]">
<h1 class="font-primary" aria-label="John Chimezie Logo" 
aria-hidden="true" role="img" 
class=" 
    text-4xl
    font-extrabold
    p-padding_primary 
    md:w-contact_width
  text-logo_color_small
  md:text-logo_color_large
  md:bg-background_primary
  " 

   >
    <a href="/">
        <pre>&lt;JC/&gt;</pre>
    </a>
    
</h1>
<nav class="bg-background_secondary z-10">
    <details>
        <summary class="text-2xl md:text-5xl text-background_primary font-extrabold p-padding_primary "></summary>
    
            <nav>
                <ul class="bg-background_primary mr-4 p-5 text-md font-bold font-secondary text-[#d1d1d1] rounded-md">
                    <li class="py-1 hover:text-background_secondary"><a title="go to Github" href="/portfolio">Portfolio</a></li>
                    <li class="py-1 hover:text-background_secondary"><a title="github repository" href="https://github.com/nattyjojo?tab=repositories" target="_blank" rel="noopener noreferrer">Github</a></li>
                    <li class="py-1 hover:text-background_secondary"><a href="">Discord</a></li>
                    <li class="py-1 hover:text-background_secondary"><a  title="linkedin" href="https://linkedin.com/in/john-chimezie-72b36a280" target="_blank" rel="noopener noreferrer">Linkedin</a></li>
                    <li><a href="">About</a></li>
                </ul>
            </nav>
      
    </details>
</nav>
</header>

