<section class="w-[100vw] md:w-Profile_detail_width text-center md:text-left">


<h2 class="mt-[13vh] font-primary font-extrabold text-7xl">
    John
    <br>
    <strong class="text-background_primary">
        Chimezie

    </strong>
     
</h2>
<br>
<p class="text-text_Specialty font-secondary font-bold text-3xl">Software Engineer - <strong class="text-[#26a269]">Freelancer</strong></p>
<ul>
    <i title="angular" class="fa-brands fa-angular fa-fade fa-4x p-2" style="color: #692b35;"></i>
    <i title="react" class="fa-brands fa-reacteurope fa-spin fa-spin-reverse fa-3x p-2"></i>
    <i title="css" class="fa-brands fa-css3-alt fa-3x fa-bounce text-[#1a5fb4] p-2"></i>
    <i title="python" class="fa-brands fa-python fa-4x p2 fa-spin text-blue-900"></i>
    <i title="node"class="fa-brands fa-node fa-shake fa-4x" style="color: #26a269; margin: 0 10px;"></i>
    <i title="database" class="fa-solid fa-database fa-shake fa-3x text-text_Specialty" ></i>
    <i title="aws" class="fa-brands text-[#3584e4] p-2 fa-aws fa-shake fa-3x"></i>

</ul>
<p class="text-text_Specialty font-semibold mt-4">Open To Work | Freelance</p>
<details class="text-background_primary text-lg mt-8" >
    <summary>Certificates</summary>
        <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="d24358b1-f44b-44f7-acf7-a7a363f43daf" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
        <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="6c677040-386e-4436-9673-cb846c66f77b" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>          
</details>
<p class="text-text_Specialty font-medium text-xl text-wrap">
    I'm a curious, passionate learner who thrives on challenges. Whether coding, cooking, or exploring the outdoors, <br>
    I approach every endeavor with enthusiasm and an open mind.
</p>
<details class="text-[#26a269]  text-lg mt-8">
    <summary class="font-extrabold">My Journey</summary>
    <p><strong>Freelancer Brussels</strong>: Software Engineer Freelance 29th March 2024 - Present</p>
    <p><strong>Telent Mechelen</strong>: Software Engineer Intern 29th January 2024 - 29th March 2024</p>
    <p><strong>Becode Brussels</strong>: Software Engineer Trainee 23rd March 2023 - 23rd October 2023</p>

</details>
</section> 
<!-- angular Nextjs Tailwind Express django sql qws -->